<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PC System</title>
</head>
<body>
    <div class="container">
        <button id="lockWindows">Lock Windows</button>
        <button id="shutdown">Shutdown</button>
        <button id="restart">Restart</button>
    </div>

    <script src="{{ url_for('static', filename='JS/index.js') }}"></script>
</body>
</html>